@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  text-align: center;
  background-color: #f9d11d;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}
